## Explore and Cluster neigborhoods in Toronto

This is an assignment to complete the Data science capstone course

In this task, it is required to explore and cluster the neighborhoods in Toronto.

We start by importing the necessary libraries which we will use

In [1]:
# import desired libraries
import pandas as pd

# !conda install -c conda-forge lxml --yes
# !pip3 install lxml

We then define our link which is a pointer to the Wikipedia page we wish to scrap

In [2]:
# define the link to be used
link='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

We make use of Panda's read_html method to make a request to the page to get table data

In [72]:
# make request using pd.readhtml
tables=pd.read_html(link,header=0)

We then get the first set of data which happens to be our table of interest

In [73]:
pc_df=tables[0]

We iterate the dataFrame and check for Not assigned neighbourhoods which have Borough
and assigne their Borogh to the neigbourhoods

In [74]:
# If a neighborhood has no assined value with a Borough the Nehgborhood = Borough
for index, row in pc_df.iterrows():
    if row['Borough'] is not 'Not assigned' and row['Neighbourhood'] is 'Not assigned':
        row['Neigborhood'] = row['Borough']

We remove the entries which have Borough with label Not Assigned

In [75]:
# We reomve columns with 'Not assigned' Borough
pc_df=pc_df[pc_df['Borough'] != 'Not assigned']

After some rows must have been removed, we reset the index to start at 0

In [76]:
pc_df=pc_df.reset_index(drop=True)

We print out the shape of the dataFrame to see how many rows are found in the data

In [77]:
# shape of the dataframe
pc_df.shape

(103, 3)

We view the first 11 rows of the dataFrame

In [78]:
pc_df.head(11)

   Postal Code           Borough                                Neighbourhood
0          M3A        North York                                    Parkwoods
1          M4A        North York                             Victoria Village
2          M5A  Downtown Toronto                    Regent Park, Harbourfront
3          M6A        North York             Lawrence Manor, Lawrence Heights
4          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5          M9A         Etobicoke      Islington Avenue, Humber Valley Village
6          M1B       Scarborough                               Malvern, Rouge
7          M3B        North York                                    Don Mills
8          M4B         East York              Parkview Hill, Woodbine Gardens
9          M5B  Downtown Toronto                     Garden District, Ryerson
10         M6B        North York                                    Glencairn

Load the Geospatial data to build the required dataset

Geocoder seems unreliable at the moment. So made use of https://cocl.us/Geospatial_data to get the data

In [79]:
gsp_df = pd.read_csv('Geospatial_Coordinates.csv')

View the dataframe to verify that there is coordinate information

In [80]:
gsp_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

We merge both datasets based on similar postal code with an inner join to take rows from both data sets

In [81]:
dfinal = pc_df.merge(gsp_df, on="Postal Code", how = 'inner')

In [93]:
dfinal.head(10)

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937